---
layout: default
title: Home
---

<div>
  <h1>Welcome to my homepage!</h1>
  <p>My name is Beatrice Giudici and I am currently a PhD student at the Universitat de València.</p>
  <p>My main area of interest is regarding supernovae, the spectacular ending of massive stars.</p>
</div>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a>
	      {{ post.title }}
      </a>
    </h1>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->